@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
/* @font-face {
    font-family: face;
    src: url();
} */
/* https://google-webfonts-helper.herokuapp.com/fonts/roboto-mono?subsets=latin */

/* Reset */
html * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', sans-serif;
}

/* Document Properties */
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background {
    background-image: url('../assets/daniel-jensen-Hfg3xK7KDDk-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    filter: brightness(0.9);
}

nav, 
main, 
aside {
    z-index: 5;
}

/* Site Styles */
main {
    height: 85%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Nav Styles */
nav h2 {
    font-size: 1.3rem;
}

nav a {
    color: rgb(32, 63, 148);
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav section {
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin-right: 8%;
}

/* Content Section */

#content section {
    color: rgb(32, 63, 148);
}
#content section h1 {
    font-size: 4rem;
}
#content section h2 {
    font-size: 3rem;
}

/* Skills Section */
#skills div {
    background-color: rgb(29, 75, 204);
    color: white;
    display: block;
    padding: 3px 0 3px 13px;
    border-radius: 6px;
    margin-top: 9px;
    transition: all 0.5s ease-in-out;
    width: 0;
}

#skills {
    display: flex;
    justify-content: space-evenly;
}

#skills article {
    margin-top: 20px;
    color: rgb(29, 75, 204);
}

#skills section article:nth-child(1) div:hover {
    width: 85%;
}

/* Projects Styles */
#projects article {
    background-image: url('../assets/messagerandom.png');
    width: 100%;
    height: 100%;
}

/* Aside Styles */
aside {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#switch {
    border: 2px solid rgb(32, 63, 148);
    border-radius: 20px;
    width: 70px;
    position: relative;
    display: flex;
    cursor: pointer;
}

#switch img {
    width: 30px;
    filter: invert(0.5);
}

#switch .ball {
    position: absolute;
    left: 0;
    top: 0;
    filter: invert(0);
}

.contact a img {
    width: 9%;
    padding-right: 1.5rem;
    filter: drop-shadow(1px 1px 25px red) invert(60%);
}


/* Other */
#about-me,
#home,
#skills {
    display: none;
}