/* Loading Fonts */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 300;
    src: url('./fonts/roboto-slab/roboto-slab-v13-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('./fonts/roboto-slab/roboto-slab-v13-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/roboto-slab/roboto-slab-v13-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/roboto-slab/roboto-slab-v13-latin-300.woff') format('woff'), /* Modern Browsers */
    url('./fonts/roboto-slab/roboto-slab-v13-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/roboto-slab/roboto-slab-v13-latin-300.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 300;
    src: url('./fonts/roboto-mono/roboto-mono-v13-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('./fonts/roboto-mono/roboto-mono-v13-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/roboto-mono/roboto-mono-v13-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/roboto-mono/roboto-mono-v13-latin-300.woff') format('woff'), /* Modern Browsers */
    url('./fonts/roboto-mono/roboto-mono-v13-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/roboto-mono/roboto-mono-v13-latin-300.svg#RobotoMono') format('svg'); /* Legacy iOS */
}


/* Reset */
html * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', sans-serif;
}


/* Document Properties */
:root {
    --font-color: azure;
    --invert: invert(1);
    --change-all: #1d4bcc;
    --shadow: 1px 1px 2px #000;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#background {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    filter: brightness(0.9);
}

/* Night Theme */
.night_background {
    background-image: url('../assets/images/night.jpg');
    transition: 1s;
}

/* Day Theme */
.day_background {
    background-image: url('../assets/images/day.jpg');
    transition: 1s;
}

nav, 
main, 
aside {
    z-index: 5;
}


/* Site Styles */
main {
    height: 85%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* Nav Styles */
nav h2 {
    font-size: 1.3rem;
}

nav a {
    color: var(--font-color);
    transition: 1s;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav section {
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin-right: 8%;
}


/* Content Section */

#content section {
    color: var(--font-color);
    transition: 1s;
}
#content section h1 {
    font-size: 4rem;
}
#content section h2 {
    font-size: 3rem;
}


/* Skills Section */
#skills div {
    background-color: var(--change-all);
    color: white;
    display: block;
    padding: 3px 0 3px 13px;
    border-radius: 6px;
    margin-top: 9px;
    transition: all 1s ease-in-out;
    width: 0;
}

#skills {
    display: flex;
    justify-content: space-evenly;
}

#skills article {
    margin-top: 20px;
    color: var(--font-color);
}


/* Projects Styles */
#projects a {
    width: 80%;
    text-decoration: none;
    color: var(--font-color);
    font-size: 1.1rem;
}

#projects img {
    width: 100%;
    border-radius: 10px;
    border: 1px solid var(--font-color);
}

#projects {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;
    align-items: stretch;
}

#projects a:nth-child(1) {
    grid-column-start: 1;
    grid-row-start: 1;
}
#projects a:nth-child(2) {
    grid-column-start: 2;
    grid-row-start: 1;
}
#projects a:nth-child(3) {
    grid-column-start: 3;
    grid-row-start: 1;
}
#projects a:nth-child(4) {
    grid-column-start: 1;
    grid-row-start: 2;
}
#projects a:nth-child(5) {
    grid-column-start: 2;
    grid-row-start: 2;
}
#projects a:nth-child(6) {
    grid-column-start: 3;
    grid-row-start: 2;
}


/* About Styles */
#about-me ul {
    display: flex;
    padding-top: 1.2rem;
}
#about-me li {
    list-style-type: none;
    padding: 3rem 1.5rem;
    margin-right: 2rem;
    border: 1px solid var(--change-all);
    border-radius: 50%;
}


/* Aside Styles */
aside {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#switch {
    transition: 1s;
    border: 2px solid var(--change-all);
    border-radius: 20px;
    width: 70px;
    position: relative;
    display: flex;
    cursor: pointer;
}

#switch img {
    width: 30px;
    filter: invert(0.5);
}

#switch .ball {
    position: absolute;
    left: 0;
    top: 0;
    filter: invert(0);
}

.contact a img {
    width: 9%;
    padding-right: 1.5rem;
    filter: var(--invert);
    transition: 1s;
}


/* Home Styles */
.cursor {
    display: inline-block;
    width: 3px;
    background-color: #ccc;
    margin-left: 0.1rem;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        background-color: #ccc;
    }
    49% {
        background-color: #ccc;
    }
    50% {
        background-color: transparent;
    }
    99% {
        background-color: transparent;
    }
    100% {
        background-color: #ccc;
    }
}


/* Other */
#about-me,
#projects,
#skills {
    display: none;
}

nav h2, 
#content section h2 {
    text-shadow: var(--shadow);
}

/* High Resolution */
@media screen and (min-resolution: 130dpi) {
    .night_background {
        background-image: url('../assets/images/night-high-resolution.jpg');
    }
    .day_background {
        background-image: url('../assets/images/day-high-resolution.jpg');
    }
}

/* Devices */
/* Tablet */
@media screen and (max-width: 820px) {
    .contact a img {
        width: 11%;
    }
    #switch {
        flex-grow: 1;
    }
    #content section h1 {
        font-size: 2rem;
    }
    #content section h2 {
        font-size: 1rem;
    }

    #about-me ul {
        flex-direction: column;
        align-items: flex-start;
    }

    #about-me li {
        padding: 1.3rem 1.3rem;
    }

    #about-me li {
        margin-top: 1rem;
    }

    #skills {
        flex-direction: column;
    }

    #home h2 {
        font-size: 2rem !important;
    }
}
/* Smartphone */
@media screen and (max-width: 480px) {
    #skills article {
        margin-top: 10px;
    }

    .contact a img {
        width: 20%;
    }

    #projects {
        grid-gap: 55px 5px;
    }

    #projects img {
        width: 100%;
    }
    
    #projects a {
        width: 90%;
    }

    nav h2 {
        font-size: 1rem;
    }
    
    nav section {
        justify-content: space-evenly;
        width: 250px;
        margin-right: 10%;
    }
}

@media screen and (max-width: 320px) {
    #skills article {
        margin-top: 10px;
    }

    .contact a img {
        width: 20%;
    }

    #projects {
        grid-gap: 55px 5px;
    }

    #projects img {
        width: 70%;
    }
    
    #projects a {
        width: 80%;
    }
}

@media screen and (max-width: 540px) {
    .optime {
        display: none;
    }
}