/* Loading Fonts */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 300;
    src: url('./fonts/roboto-slab/roboto-slab-v13-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('./fonts/roboto-slab/roboto-slab-v13-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/roboto-slab/roboto-slab-v13-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/roboto-slab/roboto-slab-v13-latin-300.woff') format('woff'), /* Modern Browsers */
    url('./fonts/roboto-slab/roboto-slab-v13-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/roboto-slab/roboto-slab-v13-latin-300.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 300;
    src: url('./fonts/roboto-mono/roboto-mono-v13-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('./fonts/roboto-mono/roboto-mono-v13-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/roboto-mono/roboto-mono-v13-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/roboto-mono/roboto-mono-v13-latin-300.woff') format('woff'), /* Modern Browsers */
    url('./fonts/roboto-mono/roboto-mono-v13-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/roboto-mono/roboto-mono-v13-latin-300.svg#RobotoMono') format('svg'); /* Legacy iOS */
}

/* Reset */
html * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', sans-serif;
}

/* Document Properties */
:root {
    --font-color: rgb(32, 63, 148);
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#background {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    filter: brightness(0.9);
}

.background {
    background-image: url('../assets/daniel-jensen-Hfg3xK7KDDk-unsplash.jpg');
    transition: 1s;
}

.background_1 {
    background-image: url('../assets/romain.jpg');
    transition: 1s;
}

nav, 
main, 
aside {
    z-index: 5;
}

/* Site Styles */
main {
    height: 85%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Nav Styles */
nav h2 {
    font-size: 1.3rem;
}

nav a {
    color: var(--font-color);
    transition: 1s;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav section {
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin-right: 8%;
}

/* Content Section */

#content section {
    color: var(--font-color);
    transition: 1s;
}
#content section h1 {
    font-size: 4rem;
}
#content section h2 {
    font-size: 3rem;
}

/* Skills Section */
#skills div {
    background-color: rgb(29, 75, 204);
    color: white;
    display: block;
    padding: 3px 0 3px 13px;
    border-radius: 6px;
    margin-top: 9px;
    transition: all 1s ease-in-out;
    width: 0;
}

#skills {
    display: flex;
    justify-content: space-evenly;
}

#skills article {
    margin-top: 20px;
    color: var(--font-color);
}

/* Projects Styles */
#projects article {
    background-image: url('../assets/messagerandom.png');
    width: 100%;
    height: 100%;
}

/* About Styles */
#about-me ul {
    display: flex;
    padding-top: 1.2rem;
}
#about-me li {
    list-style-type: none;
    padding: 3rem 1.5rem;
    margin-right: 2rem;
    border: 1px solid rgb(17, 89, 224);
    border-radius: 50%;
}

/* Aside Styles */
aside {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#switch {
    border: 2px solid rgb(32, 63, 148);
    border-radius: 20px;
    width: 70px;
    position: relative;
    display: flex;
    cursor: pointer;
}

#switch img {
    width: 30px;
    filter: invert(0.5);
}

#switch .ball {
    position: absolute;
    left: 0;
    top: 0;
    filter: invert(0);
}

.contact a img {
    width: 9%;
    padding-right: 1.5rem;
    filter: drop-shadow(1px 1px 25px red) invert(65%);
}

aside p {
    flex-grow: 1;
    color: var(--font-color);
}


/* Other */
#about-me,
#projects,
#skills {
    display: none;
}